.weeklyForecast {
  grid-column: 5 / 7;
  grid-row: 1/ 4;
  background-color: rgb(32, 43, 59);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.weeklyForecast h5 {
  color: aliceblue;
  margin: 0% 8%;
}

.weeklyForecastList {
  padding: 0px 8% 0px 8%;
  list-style-type: none;
}

.weeklyForecastList li:not(:last-child) {
  border-bottom: 1px gray solid;
  padding: 2%;
  margin-bottom: 5%;
}

.weekdayForecast {
  display: flex;
  justify-content: space-between;
}

.weekdayForecast svg {
  width: 15%;
}

.weekdayForecast {
  display: flex;
  justify-content: space-between;
  color: white;
}

.weekdayForecast p {
  width: 24%;
}

.tempRange {
  color: rgb(200, 199, 199);
}
